.name-user{
  margin-top: 20px; /* Espacio entre los campos de entrada y el botón */
  text-align: center;

}

.button-logout{
  margin-top: 8px; /* Espacio entre los campos de entrada y el botón */
  display: flex;
  justify-content: center;
}


.perfil{
  text-align: center;
}

ion-content {
  background-color: transparent;
  text-align: center;
}

  ion-button{
    margin-top: 20px;
  }


p{
  font-size: 20px;
  margin-top: 50px;
}

.options-container ion-button {
  margin-top: 10px;
  width: 100%;
  margin-left: 25px;
 
}

ion-icon {
    color: #af7ac5;
    font-size: 28px !important;
  
}

.config{
align-items: end;
}