<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="perfil">{{ 'general.perfil' | translate }}</ion-title>
    <ion-buttons slot="end">
        <ion-button fill="clear" href="/configuracion">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="name-user">
    <p>{{ 'general.bienvenidaa' | translate }}, {{ username }}</p>
  </div>

  <ion-button [routerLink]="['/editarperfil']" shape="round" class="edit-btn" color="tertiary">
    {{ 'perfil.editar' | translate }}
  </ion-button>

  <div class="button-logout">
    <ion-button shape="round" (click)="logout()" color="tertiary">{{ 'general.cerrar_sesion' | translate }}</ion-button>
  </div>

  <ng-template #showLogin>
    <p>{{ 'login.mensaje_iniciar' | translate }}</p>
  </ng-template>
</ion-content>
