<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding login-content">
  <div class="login-container">
    <div *ngIf="!isLoading" class="login-content">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
      <h1>Bienvenido a Patitas Felices</h1>

      <ion-button shape="round" (click)="login()" class="login-button" color="tertiary">
        INICIAR SESIÓN CON GOOGLE
      </ion-button>

      <ion-button shape="round" color="tertiary" href="iniciosesionnormal">
        Iniciar sesión
      </ion-button>

      <ng-template #showLogin>
        <p>Por favor, inicia sesión.</p>
      </ng-template>
    </div>

    <div *ngIf="isLoading" class="loading-screen">
      <img src="assets/gato_precarga.png" alt="Loading Image">
    </div>

      <strong>¿No tienes una cuenta?</strong>
      
      <ion-button routerLink="/registro" shape="round" color="medium">Registrarse</ion-button>
    
  </div>
</ion-content>