.main_title {
  padding-top: 2%;
  padding-bottom: 4%;
  text-align: center;
  width: 100%;
}

.back_button {
  padding-top: 2%;
  --border-radius: 15px;
}

ion-item {
  flex-wrap: wrap;
}

.situacion {
  font-weight: bold;
  color: red; /* o algún color según la situación */
}

.chips-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

ion-chip {
  margin-right: 5px;
}

ion-button[fill="clear"] {
  --color: #af7ac5;
}

ion-searchbar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  --background: rgb(228, 228, 228);
  --color: rgb(0, 0, 0);
  border-radius: 10px;
}

ion-content {
  ion-button {
      height: 30px;
      --border-radius: 10px;
      --padding-start: 16px;
      --padding-end: 16px;
      --margin: 8px 0;
  }
}

ion-tab-button {
  --color-selected: #50c8dd;
  --color: #000000;
}

ion-tab-button[tab="home"],
ion-tab-button[tab="search"],
ion-tab-button[tab="formmascotaperdida"],
ion-tab-button[tab="location"],
ion-tab-button[tab="profile"] {
  --color: #af7ac5;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 8px;
  padding: 8px 0;
}

.scroll-container ion-button {
  flex-shrink: 0;
}