<ion-header>
  <ion-toolbar>
    <ion-title>Preferencias de búsqueda</ion-title>
    <ion-button fill="clear" href="/perfil">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Separar mascotas por grupos</ion-label>
      <ion-toggle slot="end" color="tertiary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Separar mascotas por color</ion-label>
      <ion-toggle slot="end" color="tertiary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Separar mascotas por raza</ion-label>
      <ion-toggle slot="end" color="tertiary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Separar mascotas por tamaño</ion-label>
      <ion-toggle slot="end" color="tertiary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Frecuencia de actualización de resultados</ion-label>
      <ion-select slot="end" color="tertiary">
        <ion-select-option value="minuto" color="tertiary">Minuto</ion-select-option>
        <ion-select-option value="hora" color="tertiary">Hora</ion-select-option>
        <ion-select-option value="día" color="tertiary">Día</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>