@import url( "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
#map {
  height: 100%;
  width: 100%;
  min-height: 400px;
  display: block;
}

ion-content {
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-footer {
  --ion-padding-bottom: 10px;
}
