// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-tertiary: #af7ac5;
	--ion-color-tertiary-rgb: 183,120,217;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #a16abf;
	--ion-color-tertiary-tint: #be86dd;
}
:root {
	--ion-color-primary: #f0f0f0; /* Lighter primary color */
	--ion-color-primary-shade: #e0e0e0;
	--ion-color-primary-tint: #f5f5f5;
}