.titulo {
  text-align: center;
  width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
}

.text-insert-photo{
  display: flex;
  justify-content: center;
}

.camera-button-container {
  display: flex;
  justify-content: center;
  margin: 2px 0; /* Ajusta el margen según sea necesario */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px; /* Espacio entre los campos de entrada y el botón */
  margin-bottom: 40px; /* Espacio para mantener el botón en la parte inferior */
}
