ion-content {
    --background: transparent; 
}
  
.options-container {
    --ion-item-background: transparent; 
    --ion-item-border-color: transparent; 
}
  
ion-label {
    color: #e0e0e0;
    font-size: 2rem;
}
  
ion-icon {
    color: #9c27b0; 
}