<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/seguridad">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Verificación en dos pasos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Código de verificación</h2>
  <p>Hemos enviado un código a tu dispositivo. Por favor, introdúcelo a continuación.</p>
  
  <ion-item>
    <ion-label position="floating">Código de Verificación</ion-label>
    <ion-input type="number" maxlength="6" [(ngModel)]="verificationCode" ></ion-input>
  </ion-item>

  <ion-button  shape="round"  color="tertiary" expand="full" (click)="verifyCode()">Verificar Código</ion-button>
  
  <ion-text color="medium" (click)="resendCode()">
    <p>Reenviar código</p>
  </ion-text>

  <ion-text color="medium" (click)="changeAuthMethod()">
    <p>Cambiar método de autenticación</p>
  </ion-text>
</ion-content>