<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/seguridad">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'seguridad.autenticacion_dos_pasos' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ 'seguridad.codigo_verificacion' | translate }}</h2>
  <p>{{ 'seguridad.enviado_codigo' | translate }}</p>
  
  <ion-item>
    <ion-label position="floating">{{ 'seguridad.codigo' | translate }}</ion-label>
    <ion-input type="number" maxlength="6" [(ngModel)]="verificationCode"></ion-input>
  </ion-item>

  <ion-button shape="round" color="tertiary" expand="full" (click)="verifyCode()">
    {{ 'seguridad.verificar_codigo' | translate }}
  </ion-button>
  
  <ion-text color="medium" (click)="resendCode()">
    <p>{{ 'seguridad.reenviar_codigo' | translate }}</p>
  </ion-text>

  <ion-text color="medium" (click)="changeAuthMethod()">
    <p>{{ 'seguridad.cambiar_metodo' | translate }}</p>
  </ion-text>
</ion-content>