ion-content {
  background-color: transparent;
  text-align: center;
}

  ion-button{
    margin-top: 20px;
  }

p{

  font-size: 20px;
  margin-top: 50px;
}

ion-item{
  background: transparent;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  text-align: left;
 
}

.options-container ion-button {
  margin-top: 10px;
  width: 100%;
  margin-left: 25px;
 
}

.options-container ion-icon{
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(161, 123, 197);
}

.section-title{
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2{

  font-size: 15px;
  

}
ion-icon {
    color: #af7ac5;
    font-size: 28px !important;
}