.pet-thumbnail {
  width: 150px; 
  height: 150px; 
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto 8px auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 
}

.pet-image-container ion-img {
width: 100%; 
height: 100%;
object-fit: cover; 
} 

.pet-name {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0;
  color: #d97eff;
  margin-left: 10px;
}

.pet-info {
font-size: 1em;
margin: 5px 0;
display: flex;
gap: 6px;
align-items: center;
margin-left: 50px;
}

.button-row {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border: 3px;
}

ion-col {
flex: 1 1 auto;
}

ion-button {
width: 100%;
text-align: center;
border: 3px;
}

.pet-details{
  border: 4px solid #8a9bb5;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}