<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">{{'general.detalles' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mascota" class="pet-details">
    <ion-thumbnail class="pet-thumbnail" slot="start" (click)="expandImage(mascota.photoURL)" >
      <ion-img [src]="mascota.photoURL" ></ion-img>
    </ion-thumbnail>
    <h2 class="pet-name">{{'mascota.nombre' | translate}}:  {{ mascota.nombre }}</h2>
    <p class="pet-info">{{'mascota.especie' | translate}}: {{ translateValue(mascota.especie, 'especie') }}</p>
    <p class="pet-info">{{'mascota.color' | translate}}: {{ translateValue(mascota.color, 'color') }}</p>
    <p class="pet-info">{{'mascota.raza' | translate}}: {{ translateValue(mascota.raza, 'raza') }}</p>
    <p class="pet-info">{{'mascota.sexo' | translate}}: {{ translateValue(mascota.sexo, 'sexo') }}</p>
    <p class="pet-info">{{'mascota.fecha' | translate}}: {{ mascota.date | date:'dd/MM/yy' }}</p>
    <ion-button expand="block" class="location-button" (click)="onMapClick()">{{'mascota.ubi' | translate}}</ion-button>
  </div>

</ion-content>
