<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">{{ 'mascota.mascotaForm' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-formularios">
    <ion-button shape="round" (click)="formmascotaperdida()" color="tertiary">
      {{ 'mascota.perdida' | translate }}
    </ion-button>
    <ion-button shape="round" (click)="formmascotaadopcion()" color="tertiary">
      {{ 'mascota.en_adopcion' | translate }}
    </ion-button>
  </div>
</ion-content>