<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-button fill="clear" href="/configuracion">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Tema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tema</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Cambiar Tema</ion-label>
    <ion-toggle [checked]="themeToggleChecked" (ionChange)="toggleTheme($event)" slot="end"></ion-toggle>

  </ion-item>
</ion-content>