<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" href="/configuracion">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-button>
    <ion-title>{{ 'general.tema' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'general.tema' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>{{ 'general.cambiar_tema' | translate }}</ion-label>
    <ion-toggle [checked]="themeToggleChecked" (ionChange)="toggleTheme($event)" slot="end" color="tertiary"></ion-toggle>
  </ion-item>
</ion-content>