ion-content {
    text-align: center;
}

ion-item {
    --background: rgb(228, 228, 228);
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-top: 20px;
    width: 100%;               /* Asegura que los inputs ocupen el 100% del ancho del contenedor */
}