<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="perfil">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="name-user" *ngIf="user$ | async as user; else showLogin">
    <p>Bienvenido, {{ user.displayName }}</p>
  </div>

  <ion-button [routerLink]="['/editprofile']"  shape="round"class="edit-btn" color="tertiary">
    Editar Perfil
  </ion-button>

  <div class="button-logout">
    <ion-button shape="round" (click)="logout()" color="tertiary">Logout</ion-button>
  </div>

  <ion-item>
    <ion-label>Cambiar Tema</ion-label>
    <ion-toggle [checked]="themeToggleChecked" (ionChange)="toggleTheme($event)"></ion-toggle>

  </ion-item>

  <ng-template #showLogin>
    <p>Por favor, inicia sesión.</p>
  </ng-template>

</ion-content>
