ion-label{
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ion-title{
    text-align: center;
    margin-top: 3px;
}
ion-select{
    margin-left: 15px;
}
ion-icon {
    color: #9c27b0; 
}