.titulo {
  text-align: center;
  width: 100%; 
}

.text-insert-photo{
  display: flex;
  justify-content: center;
}

.camera-button-container {
  display: flex;
  justify-content: center;
  margin: 2px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px; 
  margin-bottom: 40px; 
}

ion-select-option{
  color: aqua;
}