<ion-content [fullscreen]="true" class="home-content">

  <ion-buttons class="inbox-button">
    <ion-button routerLink="/inbox">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="text_bienvenida">
    <h1>{{ 'login.app_name' | translate }}</h1>
  </div>

  <ion-grid>
    <ion-row class="btn">
      <ion-col size="4">
        <ion-button expand="block" fill="outline" (click)="mostrarTodas()" shape="round" color="secondary">
          <ion-label>{{ 'buscar.situacion_todo' | translate }}</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" (click)="mostrarEnAdopcion()" shape="round" color="secondary">
          <ion-label>{{ 'buscar.situacion_adopcion' | translate }}</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" (click)="mostrarPerdidas()" shape="round" color="secondary">
          <ion-label>{{ 'mascota.perdida' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="posts-section">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let mascota of publicacionesFiltradas">
          <div class="pet-card">
            <ion-thumbnail class="pet-image-container" slot="start" (click)="expandImage(mascota.photoURL)">
              <img [src]="mascota.photoURL" class="pet-image" />
            </ion-thumbnail>
            <div class="pet-info">
              <h3>{{ mascota.nombre | uppercase }}</h3>
              <div class="pet-details">
                <p><ion-icon name="paw"></ion-icon> {{ 'buscar.especie' | translate }}: {{ mascota.especie }}</p>
                <p><ion-icon name="male-female"></ion-icon> {{ 'mascota.sexo' | translate }}: {{ mascota.sexo }}</p>
                <p><ion-icon name="calendar"></ion-icon>{{ 'mascota.fecha' | translate }}: {{ mascota.date | date:'dd/MM/yy'}} </p>
                <p><ion-icon name="person"></ion-icon> Publicado por: {{ mascota.userName }} ({{ mascota.userEmail }})</p>
                <p class="situacion">{{ mascota.coleccion}}</p>
              </div>
            </div>

            <ion-buttons class="detalles">
              <ion-button expand="block" fill="outline" [routerLink]="['/detalles']" [state]="{ mascota: mascota }" shape="round" color="secondary">
                <label for=""> Ver detalles</label>
              </ion-button>
            </ion-buttons>
          </div>
          <div class="adoptar"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="barra_menu">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/busqueda">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/formulariosmascotas">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/ubicacion">
          <ion-icon name="location-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>