ion-content {
  background: transparent;
}


.text_bienvenida {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background: transparent;
  margin-top: 15px;
}

ion-tab-button {
  --color: #af7ac5;
  border-radius: 20px;
  cursor: pointer;
}

ion-tab-button:hover {
  background-color: #bdb0ca;
  box-shadow: 0px 3px 3px #9346b4;
  transform: translate(-7px);
}

ion-tab-button:active {
  transform: translateY(-1px);
}

.barra_menu {
  position: sticky;
  height: 8vh;
  bottom: 0;
  left: 0;
  z-index: 100;
  
}

.posts-section ion-grid {
  padding: 0;
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 4px solid #af7ac5;
  border-radius: 12px;
  margin: 10px;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 90%;
  min-height: 175px;
  line-height: 2;
  transition: all 0.3s ease-in-out; 
}

.pet-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.pet-image-container {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-info h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
 
}

.pet-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.9em;
  
}

.pet-details p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  text-align: left;
}

ion-icon {
  color: #af7ac5;
}

.detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.situacion {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.btn.ion-label {
  font-size: 10px;
}

.detalles ion-button {
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn ion-button {
  font-size: 12px;
  height: 50px;
}

.detalles ion-button {
  font-size: 16px;
}

ion-button .btn ion-icon {
  font-size: 28px !important;
}

.detalles ion-button ion-icon {
  font-size: 32px !important;
}

.inbox-button {
  font-size: 30px !important;
  position: absolute;
  top: 16px; 
  right: 16px; 
  z-index: 10; 
  color: #af7ac5;
  border-radius: 50%;
    width: 48px; 
    height: 48px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    align-content: center;
  }

  ion-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }

  .inbox-button ion-icon{
    font-size: 28px !important;
    align-items: center;
  }
.barra_menu ion-icon {
  font-size: 28px !important;
}