<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="/seguridad">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'seguridad.cambiar_contrasena' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ 'cambiar.actualizar' | translate }}</h2>

  <ion-item>
    <ion-label position="floating">{{ 'cambiar.contrasena_actual' | translate }}</ion-label>
    <ion-input 
      type="password" 
      [(ngModel)]="currentPassword">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'cambiar.nueva_contrasena' | translate }}</ion-label>
    <ion-input 
      type="password" 
      [(ngModel)]="newPassword">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'cambiar.confirmar_nueva' | translate }}</ion-label>
    <ion-input 
      type="password" 
      [(ngModel)]="confirmPassword">
    </ion-input>
  </ion-item>

  <ion-button shape="round" color="tertiary" expand="full" (click)="changePassword()" >{{ 'cambiar.boton_cambiar' | translate }}</ion-button>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>