ion-icon {
  color: #9c27b0; /* Color de la flecha */
}

h2{
  text-align: center;
  margin-top: 6px;
}

ion-item {
  --background: transparent;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  margin-top: 5px;
  width: 100%;             
}

ion-button{
  margin-top: 5px;
}